<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Dimis Elevadores - Home</title>
    <meta name="description" content="">
    <meta name="author" content="">   
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/docs.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.carousel').carousel({
          interval:5000        
        });
      });
    </script>
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Dimis Elevadores</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active">
              <a href="/"><i class="icon-home icon-white"></i>&nbsp;Home</a>
            </li>             
            <li class="">
              <a href="/services"><i class="icon-wrench"></i>&nbsp;Serviços</a>
            </li>
            <li class="">
              <a href="http://dimiselevadores.blogspot.com.br" target="_blank"><i class="icon-comment"></i>&nbsp;Blog</a> <!-- Alterar o enderço no Perfil do Google-->
            </li>
            <li class="">
              <a href="/contact"><i class="icon-envelope"></i>&nbsp;Contato</a>
            </li>              
          </ul>
        </div>
      </div>
    </div>
  </div>
    <header id="overview" class="jumbotron subhead">
      <div class="container">
        <h1>Dimis Elevadores</h1>      
      </div>
    </header>
    <div id="content">
      <div class="wrapper">        
        <div class="container">
          <div id="homepage">
            <h3>A Dimis Elevadores vem apresentar ao seu restaurante, buffet, pub etc, um novo conceito de montagem de elevadores de pequenas cargas. Se seu estabelecimento possui ambientes com dois ou mais andares e você pretende oferecer um atendimento mais ágil, prático e produtivo, nós temos soluções indispensáveis e eficazes para elevadores de pequenas cargas, que se adequam ao seu espaço e orçamento.</h3>  
          </div><p></p>  
          <div class="container">
            <div class="row">
              <div class="span6 well">
                <div id="myCarousel" class="carousel">
                  <div class="carousel-inner">
                    <center>
                      <div class="item active">
                        <h5><strong>Praticidade:</strong> Portas modelo guilhotina que facilitam o manuseio de sua carga e descarga. Feita completamente de aço inox para a fácil higienização de seu equipamento.</h5>
                        <img height="300" width="600" src="/img/f1.jpg">
                      </div>
                      <div class="item">
                        <h5><strong>Padronização:</strong> As prateleiras e os suportes, assim como toda a cabine, são em aço inox, adequadas as normas da NBR 14712, permitindo o transporte de alimentos fora de seus recipientes.</h5>
                        <img height="300" width="600" src="/img/f2.jpg">
                      </div>
                      <div class="item">
                        <h5><strong>Confiabilidade:</strong> Todos os elevadores se adequam ao tipo de carga, espaço e modelo de cabine e seguem todos os requisitos de segurança para projetos, fabricação e instalação.</h5>
                        <img height="300" width="600" src="/img/f3.jpg">
                      </div>
											<div class="item">
                        <h5><strong>Segurança:</strong> As imagens da apresentação são para simplificar a visualização do produto. Fotos tiradas de montagens executadas por nossa equipe. Agende uma visita conosco.</h5>
                        <img height="300" width="600" src="/img/f4.jpg">
                      </div>
                      <div class="item">
												<h5><strong>Endereço:</strong> Rua Carneiro Leão, 748 - São Paulo / SP - CEP: 03102-050
												<img height="300" width="600" src="/img/img4.png">
											</div>
                    </center>
                  </div>            
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  <footer>
    <p>Dimis Elevadores - <a href="http://maps.google.com.br/maps?client=ubuntu&channel=fs&oe=utf-8&redir_esc=&q=Rua+Carneiro+Le%C3%A3o+748+-+S%C3%A3o+Paulo+-+03102-050&um=1&ie=UTF-8&hq=&hnear=0x94ce590553d3f26f:0x42ed5190df861009,R.+Carneiro+Le%C3%A3o,+748+-+Br%C3%A1s,+S%C3%A3o+Paulo,+03102-050&gl=br&sa=X&ei=3E58UO3dGomc8QTChYBI&ved=0CCQQ8gEwAA" target="_blank">Rua Carneiro Leão 748 - São Paulo - 03102-050</a></p>
  </footer>
  <script src="js/carousel.js"></script>
 </body>
</html>
