<!DOCTYPE html>
<html lang="pt-br">
  <head>
	  <meta charset="utf-8">
	  <title>Galeria de Fotos</title>
	  <style>
	      /* Demo styles */
	      html,body{background:#222;margin:0;}
	      body{border-top:4px solid #000;}
	      .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:620px;margin:20px auto;}
	      h1{font-size:12px;font-weight:normal;color:#ddd;margin:0;}
	      p{margin:0 0 20px}
	      a {color:#22BCB9;text-decoration:none;}
	      .cred{margin-top:20px;font-size:11px;}

	      /* This rule is read by Galleria to define the gallery height: */
	      #galleria{height:620px}
	  </style>		  
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>		  
	  <script src="/js/galleria-1.2.8.min.js"></script>
  </head>
	<body>
  	<div class="content">
    	<h3>Galeria de Fotos</h3>
      <p>Demonstrativo de serviços prestados pela Dimis Elevadores.</p> 

      <div id="galleria">
        <a href="/img/f1.jpg">
            <img data-title="Monta Carga"
                 data-description="Elevador do tipo monta carga, recém instalado."
                 src="/img/thumbs/f1t.jpg">
        </a>
        <a href="/img/f2.jpg">
            <img data-title="Icebergs in the High Arctic"
                 data-description="”The debris loading isn't particularly extensive, but the color is usual.”"
                 src="/img/thumbs/f2t.jpg">
        </a>
        <a href="/img/f3.jpg">
            <img data-title="Araña"
                 data-description="Xysticus cristatus, A Estrada, Galicia, Spain"
                 src="/img/thumbs/f3t.jpg">
        </a>
        <a href="/img/f4.jpg">
            <img data-title="Museo storia naturale"
                 src="/img/thumbs/f4t.jpg">
        </a>
        <a href="/img/f5.jpg">
            <img data-title="Grjótagjá caves in summer 2009"
                 src="/img/thumbs/f5t.jpg">
        </a>
        <a href="/img/f6.jpg">
            <img data-title="Thermes"
                 data-description="Xanthi hot-spa springs, Xanthi Prefecture, Greece"
                 src="/img/thumbs/f6t.jpg">
        </a>
        <a href="/img/f7.jpg">
            <img data-title="Polish Army Kołobrzeg"
                 data-description="A display of the Polish Army. Both the soldier, and the vehicle belong to the 7th Pomeranian Coastal Defence Brigade, a part of the Szczecin-based 12th Mechanized Division ”Bolesław Krzywousty”"
                 src="/img/thumbs/f7t.jpg">
        </a>
        <a href="/img/f8.jpg">
            <img data-title="Zlatograd Bulgaria"
                 src="/img/thumbs/f8t.jpg">
        </a>
        <a href="/img/f9.jpg">
            <img data-title="09-28-2001 in New York City"
                 data-description="New York, NY, September 28, 2001 -- Debris on surrounding roofs at the site of the World Trade Center. Photo by Andrea Booher/ FEMA News Photo"
                 src="/img/thumbs/f9t.jpg">
        </a>

				<a href="/img/f10.jpg">
						<img data-title="09-28-2001 in New York City"
								 data-description="New York, NY, September 28, 2001 -- Debris on surrounding roofs at the site of the World Trade Center. Photo by Andrea Booher/ FEMA News Photo"
								 src="/img/thumbs/f10t.jpg">
				</a>

				<a href="/img/f11.jpg">
						<img data-title="09-28-2001 in New York City"
								 data-description="New York, NY, September 28, 2001 -- Debris on surrounding roofs at the site of the World Trade Center. Photo by Andrea Booher/ FEMA News Photo"
								 src="/img/thumbs/f11t.jpg">
				</a>

				<a href="/img/f12.jpg">
						<img data-title="09-28-2001 in New York City"
								 data-description="New York, NY, September 28, 2001 -- Debris on surrounding roofs at the site of the World Trade Center. Photo by Andrea Booher/ FEMA News Photo"
								 src="/img/thumbs/f12t.jpg">
				</a>

				<a href="/img/f13.jpg">
						<img data-title="09-28-2001 in New York City"
								 data-description="New York, NY, September 28, 2001 -- Debris on surrounding roofs at the site of the World Trade Center. Photo by Andrea Booher/ FEMA News Photo"
								 src="/img/thumbs/f13t.jpg">
				</a>				

					<!--a href="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Antennae%2C_Hubble_images.jpg/1024px-Antennae%2C_Hubble_images.jpg">
					<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Antennae%2C_Hubble_images.jpg/100px-Antennae%2C_Hubble_images.jpg"-->
				</a>
			</div>
			<p class="cred">Voltar para <a href="/">Home</a>.</p>
    </div>
    <script>

    // Load the classic theme
    Galleria.loadTheme('/js/galleria.classic.min.js');

    // Initialize Galleria
    Galleria.run('#galleria');

    </script>		
  </body>
</html>
