<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Dimis Elevadores</title>
    <meta name="description" content="">
    <meta name="author" content="">   
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/docs.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="javascripts/html5.js"></script>
    <![endif]-->    
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Dimis Elevadores</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <a href="/"><i class="icon-home"></i>&nbsp;Home</a>
              </li>             
              <li class="active">
                <a href="/services"><i class="icon-wrench"></i>&nbsp;Serviços</a>
              </li>
              <li class="">
                <a href="http://dimiselevadores.blogspot.com.br" target="_blank"><i class="icon-comment"></i>&nbsp;Blog</a>
              </li>
              <li class="">
                <a href="/contact"><i class="icon-envelope icon-white"></i>&nbsp;Contato</a> 
              </li>              
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header id="overview" class="jumbotron subhead">
      <div class="container">
        <h1>Dimis Elevadores</h1>      
      </div>
    </header>
    <div class="container">       
      <div class="row">      
        <div class="span4 well"> 
          <!---->
        </div>
      </div> 
    </div>     
    <footer>
      <p>Dimis Elevadores - <a href="http://maps.google.com.br/maps?client=ubuntu&channel=fs&oe=utf-8&redir_esc=&q=Rua+Carneiro+Le%C3%A3o+748+-+S%C3%A3o+Paulo+-+03102-050&um=1&ie=UTF-8&hq=&hnear=0x94ce590553d3f26f:0x42ed5190df861009,R.+Carneiro+Le%C3%A3o,+748+-+Br%C3%A1s,+S%C3%A3o+Paulo,+03102-050&gl=br&sa=X&ei=3E58UO3dGomc8QTChYBI&ved=0CCQQ8gEwAA" target="_blank">Rua Carneiro Leão 748 - São Paulo - 03102-050</a></p>
    </footer>     
   </body>
</html>
